
ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: rgba(55, 57, 63, 1);
    margin-top: 65px;
    margin-left: 50px;
    cursor: pointer;
}
li{
font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
}
.home{
    margin-left: 200px;
    margin-top: 15px;
}
.menu{
    margin: 15px;
}
.click{
    width: 150px;
    height: 60px;
    background: rgba(107, 119, 229, 1);
    border: none;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
   
    transition: 1s;
    margin-left: 30px;
}
.click:hover{
    background-color: blue;
    width: 140px;
}
/*--cont--*/

.cont 
{
    width: 1220px;
    height: 510px;
    margin: 180px;
    margin-top: 150px;
}
.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
      font-size: 15px;
      color: #252323;
      list-style: none;
      text-decoration: none;
      text-align: center;
      margin-right: 150px;
   }
   .text1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #242121;
    list-style: none;
    text-decoration: none;
    text-align: center;
    margin-right: 150px;
   }
.content{
    display: flex;
    margin-top: 50px;
}
.card{
    width: 386px;
    height: 383px;
    background-color: rgb(222, 226, 225);
    margin: 10px;
}

.text2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 50px ;
    font-size: 25px;
    color: #2e2c2c;
}
.text3{
    text-align: center;
    margin-top: 30px;
   font-size: 17px;
   color: gray;
   list-style: none;
   text-decoration: none;
}
.text4{
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    color: blue;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    margin-left: 130px;
}
a.icon2{
    margin-left: 560px;
   border-bottom-left-radius: 60px;
   position: relative;
   top: 50%;

}

.video{
    width: 1200;
    height: 557px; 
    position: relative;
    top: 30%;
    margin-top: 30px;
}
.h1{
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 30%;
}
.text7{
    text-align: center;
    margin-top: 40px;
   font-size: 20px;
   color: rgb(65, 54, 54);
   margin-right: 150px;
}
.icon2{
    margin-right: 90px;
    margin-top: 50px;
    position: relative;
    top: 40%;
}
.conteiner{
    margin-top: -180px;
    background-image: url(Rectangle\ 290.jpg);
    height: 557px;
    position: relative;
    top: 60px;  
    align-items: center; 
}



.cont1{
    margin-left: 120px;
    margin-top: 120px;
}
.card1{
    width: 386px;
    height: 532px;
    margin-left: 20px;
}
.name
{
    width: 320px;
    height: 114px;
    position: relative;
    background-color: #ffffff;
    height: 114px;
    text-align: center;
    margin-left: 45px;
    position: relative;
    
}
.text5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: center;
      margin-top: -140px ;
      font-size: 36px;
      color: #1b1a1a;
      line-height: 37px;
  }
  .text6{
      text-align: center;
      margin-top: 10px;
     font-size: 17px;
     color: rgb(65, 54, 54);
  }